<h2>CHAT CLIENTES</h2>
<div class="divPrincipal">

  <form action="/messages" method="post">
    <p>Hola {{user.first_name}}!</p>
    <label for="mensaje">Escribe tu mensaje: </label>
    <input type="text" name="mensaje" id="mensaje" />
    <button type="submit" id="btnEnviar">Enviar</button>
  </form>
  <div id="muestraMensajes">
    {{#each listMessages}}
      <div class="messageItem">
        <p>
          {{../user.first_name}}
          dice:
          <span>{{message}}</span></p>
        <span
          id="close"
          class="material-symbols-outlined deleteButton"
          data-id="{{_id}}"
        >
          close
        </span>
      </div>
    {{/each}}
  </div>
  <a href="./products">Volver</a>
</div>

<script src="/js/chat.js"></script>