* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 100px;
  height: 100px;
}

header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 50%;
  gap: 20px;
}

header nav ul li:hover {
  border-bottom: 1px solid black;
}
.closeSession {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}
.linkPerfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.divDetails {
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
#imgCart {
  width: 50px;
  height: 50px;
  object-position: center;
  position: relative;
  transition: all 1000ms;
  color: black;
}

#imgCart:hover {
  scale: 1.2;
  color: red;
}
.quantity {
  width: 0.8rem;
  height: 0.8rem;
  text-align: center;
  position: absolute;
  color: white;
  background-color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 50%;
  font-size: 0.8rem;
  left: 20px;
  top: 20px;
}
.productDetails {
  width: 90%;
  border: 1px solid black;
  height: 90%;
}

.productDetails h3 {
  text-align: center;
}

.priceAndMore {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.imgDetail {
  width: 200px;
  height: 200px;
}

.addButton {
  background-color: blue;
  color: white;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.addButton:hover {
  background-color: white;
  border: 1px solid blue;
  color: blue;
}
.btns {
  display: flex;
  gap: 20px;
}
.shoping {
  background-color: black;
  color: white;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.addButton:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
